body {
  background-image: url('https://i.pinimg.com/736x/46/0e/82/460e82c431942f48c8d0da4262c354c2.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
a {
	text-decoration: none;
}
header {
	display: flex;
	background-image: url('https://media.moddb.com/cache/images/groups/1/5/4497/thumb_620x2000/TF-DCS-ST.jpg');
	justify-content: center;
	align-items: center;
	text-align: center;
	background-repeat: no-repeat;
	background-position: center;
	margin-right: 50px;
}
h1 {
	color: white;
	padding: 100px;
}
.grosvide {
  height: 20vh;
}
.vide {
  height: 10vh;
}
.lien {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
}

h2 {
	background-color: #1b165c;
	color: white;
	font-size: 24px;
}